.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  
  &.orange {
    background: var(--background-orange);
  }
  &.purple {
    background: var(--background-purple);
  }
  background: var(--background-blue); 
}

.footer {
  position: absolute;
  align-self: flex-end;
  font-size: 1.25rem;
  opacity: .7;
}