.searchContainer {
  display: flex;
  justify-content: center;
  
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  > .inputContainer {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    > .MuiInputBase-root {
      flex-grow: 1;
    }
  }
}